# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.log

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store

# Spring Boot
application-local.properties

# Logs
logs/

# Mac
.DS_Store

#Help
HELP.md